
body { 
  background-color: #200D13;
  opacity: 0.8;
  color: #9C9081;
  border: 5px solid #9C9081;
  padding: 10px;

}
h1 {
  color: #BA5D5D;
}
p {
  color: #9C9081;
  font-family: 'Times New Roman', Times, serif;

}